<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<center>
    <a href="/admin/create">Create user</a>
    <div th:if="${users.size() > 0}">
        <table style="background-color: snow" border="1">
            <caption> <h2>List of users</h2></caption>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>update</th>
                <th>delete</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}">...</td>
                <td th:text="${user.name}">...</td>
                <td th:text="${user.surname}">...</td>
                <td th:text="${user.age}">...</td>
                <td><a th:href="@{/admin/update/{id}(id=${user.id})}">
                    update</a></td>
                <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">
                    delete</a></td>
            </tr>
        </table>
    </div>
    </div><br/><br/>
    <a th:href="@{/logout}">Logout</a>
</center>
</body>
</html>